---
import { YouTube } from "astro-lazy-youtube-embed";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Rio Bosque Magico Chazuta
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.
      <wbr />
      Built with Astro.build and TailwindCSS. You can quickly
      create any website with this starter.
    </p>
  </div>
  <div class="py-6 md:order-1  md:block w-[90%]">
    <YouTube class="rounded-2xl" id="videoIntro" videoId="Dam_JVQlk3M" title="Welcome to RioBosqueMagico" />
  </div>
</main>
